
@font-face {
    font-family: 'montserrat';
    src: url("../../assets/fonts/montserrat.ttf");
}

@font-face {
    font-family: 'bebas';
    src: url("../../assets/fonts/bebas.ttf");
}

$primary-font:'montserrat';
$secondary-font:'bebas';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  monospace, 'Courier New', Courier;
}

$small_formDiv_form_card_formLinks_font-size:0.8em;
$small_portrait_singleAuthSelector_button_font_size : 0.8em;
$small_formDiv_form_card_gap:1em;
$small_formDiv_form_card_gap_div_label:0.8em;
$small_formDiv_form_card_div_input_font-size:0.8em;
$small_formDiv_form_card_div_input_margin-top:0.6em;
$small_formDiv_form_card_div_button_font-size:1em;

$big_portrait_singleAuthSelector_button_font_size : 1.8em;
$big_formDiv_form_card_gap:4em;
$big_formDiv_form_card_div_input_font-size:1.5em;
$big_formDiv_form_card_div_input_margin-top:1.2em;
$big_formDiv_form_card_div_button_font-size:2em;
$big_formDiv_form_card_gap_div_label:2em;
$big_formDiv_form_card_formLinks_font-size:2em;

$normal_formDiv_form_width:80%;
$normal_formDiv_form_card_gap:2em;
$normal_formDiv_form_card_div_button_width:100%;

$portrait_authSelector_Container_width :80%;

$landscape_authSelector_Container_width :65%;
$landscape_singleAuthSelector_button_font_size : 1em;
$landscape_formDiv_form_width:65%;
$landscape_formDiv_form_card_gap:2.5em;
$landscape_formDiv_form_card_div_button_font-size:1em;
$landscape_formDiv_form_card_div_button_width:40%;

#authPageContainer{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    padding: 2em 0em;
    #authSelectorContainer{
        width: $portrait_authSelector_Container_width;
        height: 7vh;
        display: flex;
        justify-content: space-between;
        .singleAuthSelector{
                display: inline-block;
                height: 98%;
                width: 45%;
                position: relative;
            button{
                font-family: $primary-font,'Courier New', Courier;
                height: 100%;
                width: 100%;
            }

        }
        #logInButtonSpan{
                left: -10%;
            }
        #signUpButtonSpan{
                left: 10%;
            }
            .css-1x51dt5-MuiInputBase-input-MuiInput-input{
                font-family: $primary-font;
            }
    }

    .formDiv{
        display: flex;
        justify-content: center;
        width: 100%;
        .form{
            width: $normal_formDiv_form_width;
            .card{
                display: flex;
                flex-direction: column;
                padding: 1em;
                gap: $normal_formDiv_form_card_gap;
                div{
                    width: 100%;
                button{
                    display: block;
                    background-color: aquamarine;
                    color: navy;
                    font-family: $primary-font;
                    width: $normal_formDiv_form_card_div_button_width;
                }
            }
                div{
                    label{
                        font-family: $primary-font;
                    }
                    div{
                        input{
                        font-family: $primary-font;
                        }
                    }
                }
                #formLinks{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.2em;
                }
            }
        }
    }
}

input , button{
    font-family: $primary-font;
}

@media (orientation:'portrait') and (max-width:'300px') {
    #authPageContainer{
        #authSelectorContainer{
            .singleAuthSelector{
                button{
                    font-size:$small_portrait_singleAuthSelector_button_font_size ;
                }
            }
        }
        .formDiv{
            .form{
                .card{
                    gap: $small_formDiv_form_card_gap;
                    div{
                        label{
                            font-size: $small_formDiv_form_card_gap_div_label;
                        }
                    }
                    div{
                        input{
                            font-size:$small_formDiv_form_card_div_input_font-size;
                            margin-top: $small_formDiv_form_card_div_input_margin-top;
                        }
                    }
                    div{
                    button{
                        font-size: 1em;
                    }
                }
                    #formLinks{
                        font-size: $small_formDiv_form_card_formLinks_font-size;
                    }
                }
            }
        }
    }
    }

@media (orientation:'portrait') and (min-width:'800px') {
#authPageContainer{
    #authSelectorContainer{
        .singleAuthSelector{
            button{
                font-size: 1.8em;
            }
        }
    }
    .formDiv{
        .form{
            .card{
                gap: $big_formDiv_form_card_gap;
                div{
                    label{
                        font-size: $big_formDiv_form_card_gap_div_label;
                    }
                }
                div{
                    input{
                        font-size: $big_formDiv_form_card_div_input_font-size;
                        margin-top: $big_formDiv_form_card_div_input_margin-top;
                    }
                }
                div{
                button{
                    font-size: $big_formDiv_form_card_div_button_font-size;
                }
            }
                #formLinks{
                    font-size: $big_formDiv_form_card_formLinks_font-size;
                }
            }
        }
    }
}
}

@media (orientation:'landscape') {
    #authPageContainer{
        #authSelectorContainer{
            width: $landscape_authSelector_Container_width;
            .singleAuthSelector{
                button{
                    font-size: $landscape_singleAuthSelector_button_font_size;
                    font-weight: 900;
                }
            }
        }
        .formDiv{
            .form{
                width: $landscape_formDiv_form_width;
                .card{
                    gap: $landscape_formDiv_form_card_gap;
                    div{
                        width: 100%;
                        display: flex;
                        align-items:center ;
                        justify-content: center;
                        button{
                            font-size: 1em;
                            width: $landscape_formDiv_form_card_div_button_width;
                        }
                }
                }
            }
        }
    }
}