

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  monospace, 'Courier New', Courier;
}



#authPageContainer{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    #authSelectorContainer{
        width: 80%;
        height: 7vh;
        display: flex;
        justify-content: space-between;
        .singleAuthSelector{
                display: inline-block;
                height: 98%;
                width: 45%;
                position: relative;
            button{
                font-family: monospace,'Courier New', Courier;
                height: 100%;
                width: 100%;
            }

        }
        #logInButtonSpan{
                left: -10%;
            }
        #signUpButtonSpan{
                left: 10%;
            }

    }

    .formDiv{
        display: flex;
        justify-content: center;
        width: 100%;
        .form{
            width: 80%;
            .card{
                display: flex;
                flex-direction: column;
                padding: 1em;
                gap: 2em;
                div{
                    width: 100%;
                button{
                    display: block;
                    background-color: aquamarine;
                    color: navy;
                    font-family: monospace;
                    width: 100%;
                }
            }
                #formLinks{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.2em;
                }
            }
        }
    }
}

@media (orientation:'portrait') and (max-width:'300px') {
    #authPageContainer{
        #authSelectorContainer{
            .singleAuthSelector{
                button{
                    font-size: 0.8em;
                }
            }
        }
        .formDiv{
            .form{
                .card{
                    gap: 1em;
                    div{
                        label{
                            font-size: 0.8em;
                        }
                    }
                    div{
                        input{
                            font-size: 0.8em;
                            margin-top: 0.6em;
                        }
                    }
                    div{
                    button{
                        font-size: 1em;
                    }
                }
                    #formLinks{
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
    }

@media (orientation:'portrait') and (min-width:'800px') {
#authPageContainer{
    #authSelectorContainer{
        .singleAuthSelector{
            button{
                font-size: 1.8em;
            }
        }
    }
    .formDiv{
        .form{
            .card{
                gap: 4em;
                div{
                    label{
                        font-size: 2em;
                    }
                }
                div{
                    input{
                        font-size: 1.5em;
                        margin-top: 1.2em;
                    }
                }
                div{
                button{
                    font-size: 2em;
                }
            }
                #formLinks{
                    font-size: 2em;
                }
            }
        }
    }
}
}

@media (orientation:'landscape') {
    #authPageContainer{
        #authSelectorContainer{
            width: 65%;
            .singleAuthSelector{
                button{
                    font-size: 1.2em;
                    font-weight: 900;
                }
            }
        }
        .formDiv{
            .form{
                width: 65%;
                .card{
                    gap: 2.5em;
                    div{
                        width: 100%;
                        display: flex;
                        align-items:center ;
                        justify-content: center;
                        button{
                            font-size: 1.5em;
                            width: 40%;
                        }
                }
                }
            }
        }
    }
}