@font-face {
    font-family: 'montserrat';
    src: url("../../assets/fonts/montserrat.ttf");
}

@font-face {
    font-family: 'bebas';
    src: url("../../assets/fonts/bebas.ttf");
}

$primary-font:'montserrat';
$secondary-font:'bebas';

#searchComponentContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    #searchComponentCard{
        width: 80%;
        display: flex;
        padding: 1em;
        justify-content: space-between;
        #searchComponentTextContainer{
            width: 90%;
            h2{
                display: inline;
            }
            p{
                display: inline;
            }
        }
        #searchBar{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 1em;
            fieldset{
                border-color: white;
            }
            .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
                padding: 0.4em;
                width: 100%;
                font-size: 1.2em;
                font-family: $primary-font;
            }
            .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
                width: 90%;
            }
        }
    }
}

#brandsContainer{
    width: 100%;
    height:10vh;
    margin-top: 1.5em;
    margin-bottom: 1em;
    #brandsSwiperContainer{
        height: 100%;
        #slideR{
            display: flex;
            align-items: center;
            justify-content: center;
            #allBrandsComponent{
                height: 10vh;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    color: black;
                    font-size: 2em;
                    font-weight: 900;
                }
            }
        }
        #abrandDiv{
            height: 10vh;
            width: 25vw;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1em;
            img{
                height: auto;
                width: 25vw;
            }
        }
    }
}

#carsContainer{
    min-height: 70vh;
    margin-bottom: 2em;
    color: black;
    h3{
        margin-bottom: 1.5em;
    }
    #listOfCars{
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3vh;
        padding: 0em 1em;
        #Acar{
            .aCarCard{
                border-radius: 1em;
                #firstDiv{
                    height: 5vh;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 0.5em;
                    img{
                        width: auto;
                        height: 100%;
                    }
                    #textDiv{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        h3{
                            margin-bottom: 0;
                        }
                        p{
                            color: gray;
                        }
                    }
                }
                #secondDiv{
                    display: flex;
                    justify-content: space-between;
                    padding-left: 1.5em;
                    align-items: flex-end;
                    #priceSpan{
                        display: flex;
                        #price{
                            font-weight: 900;
                            margin-bottom: 0.5em;
                        }
                        #price + p{
                            color: gray;
                        }
                    }

                        #detailsSpan{
                            background-color: aquamarine;
                            padding: 0.8em;
                            border-top-left-radius: 0.5em;
                            border-bottom-right-radius: 0.5em;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 55%;
                            color: navy;
                            font-family: $secondary-font;
                        }

                }
            }
        }
    }
    #noCarsDiv{
        width: 100%;
        min-height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            font-family: $secondary-font;
        }
    }
}

@media (orientation : 'portrait') and (max-width:"300px"){
    #carsContainer{
        #listOfCars{
            padding: 0.2em;
            #keyDivs{
                #Acar{
                    .aCarCard{
                        display: flex;
                        flex-direction: column;
                        gap: 0.6em;
                        #secondDiv{
                            #priceSpan{
                                p{
                                    font-size: 0.8em;
                                }
                            }
                            #detailsSpan{
                                padding: 0.2em;
                                font-size: 0.8em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (orientation : 'portrait') and (min-width:"800px") {
    #carsContainer{
        #listOfCars{
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (orientation : 'portrait') and (min-width:"1500px"){
    #carsContainer{
        
        #listOfCars{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

@media (orientation : 'landscape'){
    #brandsContainer{
            height: auto;
        #brandsSwiperContainer{
            height: auto;
            margin-bottom: 2em;
            #abrandDiv{
                height: 100%;
                width: 10vw;
                img{
                    width: 100%;
                    height:100%;
                }
            }
        }
    }

    #carsContainer{
        h3{
            padding-left: 2em;
        }
        #listOfCars{
            grid-template-columns: 1fr 1fr;
            #keyDivs{
                #Acar{
                    .aCarCard{
                        background-color: rgb(240, 240, 240);
                        #firstDiv{
                            width: 100%;
                            height: 10vh;
                        }
                    }

                }
            }
        }
    }
}

@media (orientation : 'landscape') and (min-width:"1500px"){
    #carsContainer{

        #listOfCars{
            grid-template-columns: repeat(3,1fr);
        }
    }
}