#searchComponentContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
#searchComponentContainer #searchComponentCard {
  width: 80%;
  display: flex;
  padding: 1em;
  justify-content: space-between;
}
#searchComponentContainer #searchComponentCard #searchComponentTextContainer {
  width: 90%;
}
#searchComponentContainer #searchComponentCard #searchComponentTextContainer h2 {
  display: inline;
}
#searchComponentContainer #searchComponentCard #searchComponentTextContainer p {
  display: inline;
}
#searchComponentContainer #searchComponentCard #searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}
#searchComponentContainer #searchComponentCard #searchBar fieldset {
  border-color: white;
}
#searchComponentContainer #searchComponentCard #searchBar .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.4em;
  width: 100%;
  font-size: 1.2em;
}
#searchComponentContainer #searchComponentCard #searchBar .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 90%;
}

#brandsContainer {
  width: 100%;
  height: 10vh;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
#brandsContainer #brandsSwiperContainer {
  height: 100%;
}
#brandsContainer #brandsSwiperContainer #slideR {
  display: flex;
  align-items: center;
  justify-content: center;
}
#brandsContainer #brandsSwiperContainer #slideR #allBrandsComponent {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#brandsContainer #brandsSwiperContainer #slideR #allBrandsComponent p {
  color: black;
  font-size: 2em;
  font-weight: 900;
}
#brandsContainer #brandsSwiperContainer #abrandDiv {
  height: 10vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}
#brandsContainer #brandsSwiperContainer #abrandDiv img {
  height: auto;
  width: 25vw;
}

#carsContainer {
  min-height: 70vh;
  margin-bottom: 2em;
  color: black;
}
#carsContainer h3 {
  margin-bottom: 1.5em;
}
#carsContainer #listOfCars {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3vh;
  padding: 0em 1em;
}
#carsContainer #listOfCars #Acar .aCarCard {
  border-radius: 1em;
}
#carsContainer #listOfCars #Acar .aCarCard #firstDiv {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5em;
}
#carsContainer #listOfCars #Acar .aCarCard #firstDiv img {
  width: auto;
  height: 100%;
}
#carsContainer #listOfCars #Acar .aCarCard #firstDiv #textDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#carsContainer #listOfCars #Acar .aCarCard #firstDiv #textDiv h3 {
  margin-bottom: 0;
}
#carsContainer #listOfCars #Acar .aCarCard #firstDiv #textDiv p {
  color: gray;
}
#carsContainer #listOfCars #Acar .aCarCard #secondDiv {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5em;
  align-items: flex-end;
}
#carsContainer #listOfCars #Acar .aCarCard #secondDiv #priceSpan {
  display: flex;
}
#carsContainer #listOfCars #Acar .aCarCard #secondDiv #priceSpan #price {
  font-weight: 900;
  margin-bottom: 0.5em;
}
#carsContainer #listOfCars #Acar .aCarCard #secondDiv #priceSpan #price + p {
  color: gray;
}
#carsContainer #listOfCars #Acar .aCarCard #secondDiv #detailsSpan {
  background-color: aquamarine;
  padding: 0.8em;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  color: navy;
}
#carsContainer #noCarsDiv {
  width: 100%;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) and (max-width: 300px) {
  #carsContainer #listOfCars {
    padding: 0.2em;
  }
  #carsContainer #listOfCars #keyDivs #Acar .aCarCard {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
  }
  #carsContainer #listOfCars #keyDivs #Acar .aCarCard #secondDiv #priceSpan p {
    font-size: 0.8em;
  }
  #carsContainer #listOfCars #keyDivs #Acar .aCarCard #secondDiv #detailsSpan {
    padding: 0.2em;
    font-size: 0.8em;
  }
}
@media (orientation: portrait) and (min-width: 800px) {
  #carsContainer #listOfCars {
    grid-template-columns: 1fr 1fr;
  }
}
@media (orientation: portrait) and (min-width: 1500px) {
  #carsContainer #listOfCars {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (orientation: landscape) {
  #brandsContainer {
    height: auto;
  }
  #brandsContainer #brandsSwiperContainer {
    height: auto;
    margin-bottom: 2em;
  }
  #brandsContainer #brandsSwiperContainer #abrandDiv {
    height: 100%;
    width: 10vw;
  }
  #brandsContainer #brandsSwiperContainer #abrandDiv img {
    width: 100%;
    height: 100%;
  }
  #carsContainer h3 {
    padding-left: 2em;
  }
  #carsContainer #listOfCars {
    grid-template-columns: 1fr 1fr;
  }
  #carsContainer #listOfCars #keyDivs #Acar .aCarCard {
    background-color: rgb(240, 240, 240);
  }
  #carsContainer #listOfCars #keyDivs #Acar .aCarCard #firstDiv {
    width: 100%;
    height: 10vh;
  }
}
@media (orientation: landscape) and (min-width: 1500px) {
  #carsContainer #listOfCars {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=index.css.map */