@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/montserrat.ttf");
}
@font-face {
  font-family: "bebas";
  src: url("../../assets/fonts/bebas.ttf");
}
* {
  font-family: "montserrat";
}

#cartBackground {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  color: black;
  overflow-x: hidden;
}
#cartBackground h2 {
  text-align: center;
  padding-bottom: 3.2em;
  padding-top: 1em;
  color: rgb(4, 194, 130);
}
#cartBackground h2 span {
  color: rgb(4, 194, 130);
}
#cartBackground #mostContent {
  display: flex;
  width: 100%;
  gap: 2.5em;
}
#cartBackground #mostContent #paymentBarMainDiv {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  color: white;
}
#cartBackground #mostContent #paymentBarMainDiv #atmCardBackground {
  background: url("/card3.jpg");
  background-size: 100%;
  width: 85vw;
  height: 45vw;
  display: flex;
  flex-direction: column;
  border-radius: 0.8em;
  margin-top: 4em;
  margin-bottom: 3.5em;
  position: relative;
  box-shadow: 0.5em 0.5em 3em 0.2em rgb(40, 40, 40);
}
#cartBackground #mostContent #paymentBarMainDiv #atmCardBackground img {
  width: 25%;
  height: auto;
}
#cartBackground #mostContent #paymentBarMainDiv #atmCardBackground p {
  color: white;
}
#cartBackground #mostContent #paymentBarMainDiv #atmCardBackground #masterCardText {
  color: white;
  font-size: 1em;
  padding-left: 0.5em;
}
#cartBackground #mostContent #paymentBarMainDiv #atmCardBackground #cardNumberDiv {
  display: flex;
  width: 100%;
  gap: 1.5em;
  padding-top: 1em;
  justify-content: center;
}
#cartBackground #mostContent #paymentBarMainDiv #atmCardBackground #nameAndExpiry {
  display: flex;
  padding: 2em 1.5em;
  justify-content: space-between;
}
#cartBackground #mostContent #paymentBarMainDiv #atmCardBackground #nameAndExpiry #holderName {
  text-overflow: ellipsis;
  overflow-x: hidden;
  text-wrap: nowrap;
}
#cartBackground #mostContent #paymentBarMainDiv #paymentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}
#cartBackground #mostContent #paymentBarMainDiv #paymentForm input {
  color: navy;
}
#cartBackground #mostContent #paymentBarMainDiv #paymentForm #majorRow {
  display: flex;
  padding: 0 1.5em;
  width: 75%;
}
#cartBackground #mostContent #paymentBarMainDiv #paymentForm #majorRow #minorRow {
  display: flex;
  gap: 0.4em;
}
#cartBackground #mostContent #paymentBarMainDiv #paymentForm #majorRow #minorRow #dash {
  position: relative;
  border-left: 0.06em navy solid;
  rotate: 15deg;
  height: 60%;
  bottom: -45%;
}
#cartBackground #mostContent #paymentBarMainDiv #pay {
  background-color: navy;
  color: aquamarine;
  font-weight: 700;
  position: absolute;
  bottom: 20vh;
  width: 70%;
  margin: 0 15%;
  padding: 1em;
}
#cartBackground #mostContent #paymentBarMainDiv #cancel {
  text-align: left;
  width: -moz-min-content;
  width: min-content;
  margin-top: 1em;
  font-weight: 900;
}

#listHeader {
  display: grid;
  color: black;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  font-weight: 900;
  padding: 0em;
  padding-bottom: 2em;
}
#listHeader p {
  display: block;
  width: 100%;
  text-align: center;
}

#singleCartItemCard {
  display: grid;
  color: black;
  font-size: 0.8em;
  width: 100%;
  grid-template-columns: 2fr 4.5fr 0.5fr;
  padding: 0em 0.5em;
  margin: 2em 0em;
  border-bottom: 0.02em aquamarine solid;
  border-top: 0.02em aquamarine solid;
  justify-content: center;
}
#singleCartItemCard #itemDetails {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0em 0.5em;
}
#singleCartItemCard #itemDetails p {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
#singleCartItemCard #itemDetails #color {
  width: 100%;
  display: flex;
  justify-content: center;
}
#singleCartItemCard #itemDetails #color div {
  width: 2em;
  height: 2em;
  border-radius: 1em;
}
#singleCartItemCard #cartItemImage {
  width: 100%;
  height: auto;
}
#singleCartItemCard #cartItemImage img {
  width: 100%;
  height: 100%;
}
#singleCartItemCard #closeIcon {
  width: 100%;
  height: 100%;
  text-align: center;
}

#summaryContainer {
  width: 100%;
  display: flex;
  padding-right: 2em;
  flex-direction: column;
  align-items: end;
  padding-bottom: 4em;
  gap: 0.3em;
}
#summaryContainer button {
  margin-top: 2em;
  background-color: aquamarine;
  color: navy;
  font-weight: 700;
}

@media (max-width: 300px) {
  #cartBackground #mostContent #paymentBarMainDiv button {
    font-size: 0.8em;
  }
  #cartBackground #mostContent #paymentBarMainDiv #atmCardBackground {
    font-size: 0.8em;
    height: 50vw;
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
  #cartBackground #mostContent #paymentBarMainDiv #paymentForm {
    gap: 1.5em;
  }
}
@media (min-width: 700px) and (orientation: portrait) {
  #cartBackground #mostContent #cartContent #cartItemsCard #singleCartItemCard #itemDetails p {
    font-size: 1.7em;
  }
  #cartBackground #mostContent #cartContent #cartItemsCard #singleCartItemCard #closeIcon {
    width: 70%;
  }
  #cartBackground #mostContent #cartContent #summaryContainer div {
    font-size: 1.2em;
  }
  #cartBackground #mostContent #paymentBarMainDiv button {
    font-size: 1.2em;
  }
  #cartBackground #mostContent #paymentBarMainDiv #atmCardBackground {
    width: 65vw;
    height: 35vw;
    align-self: center;
  }
  #cartBackground #mostContent #paymentBarMainDiv #atmCardBackground #masterCardText, #cartBackground #mostContent #paymentBarMainDiv #atmCardBackground p {
    font-size: 1.4em;
  }
  #cartBackground #mostContent #paymentBarMainDiv #paymentForm label {
    font-size: 1.2em;
  }
  #cartBackground #mostContent #paymentBarMainDiv #paymentForm div input {
    font-size: 1.2em;
  }
}
@media (min-width: 800px) and (orientation: portrait) {
  #cartBackground h2 {
    font-size: 4em;
    padding-bottom: 1em;
  }
  #cartBackground #mostContent #cartContent #cartItemsCard #listHeader {
    font-size: 1.5em;
  }
  #cartBackground #mostContent #cartContent #cartItemsCard #singleCartItemCard {
    padding: 6em 0em;
  }
  #cartBackground #mostContent #cartContent #cartItemsCard #singleCartItemCard #itemDetails p {
    font-size: 2.8em;
  }
  #cartBackground #mostContent #cartContent #cartItemsCard #singleCartItemCard #closeIcon {
    width: 70%;
  }
  #cartBackground #mostContent #cartContent #summaryContainer h3 {
    font-size: 2.5em;
  }
  #cartBackground #mostContent #cartContent #summaryContainer div {
    font-size: 2em;
  }
  #cartBackground #mostContent #cartContent #summaryContainer button {
    font-size: 2em;
  }
  #cartBackground #mostContent #paymentBarMainDiv {
    gap: 3em;
  }
  #cartBackground #mostContent #paymentBarMainDiv button {
    font-size: 2.5em;
  }
  #cartBackground #mostContent #paymentBarMainDiv #atmCardBackground {
    width: 55vw;
    height: 35vw;
    align-self: center;
  }
  #cartBackground #mostContent #paymentBarMainDiv #atmCardBackground #masterCardText, #cartBackground #mostContent #paymentBarMainDiv #atmCardBackground p {
    font-size: 2.4em;
  }
  #cartBackground #mostContent #paymentBarMainDiv #atmCardBackground #cardNumberDiv {
    padding-top: 3.5em;
  }
  #cartBackground #mostContent #paymentBarMainDiv #atmCardBackground #nameAndExpiry {
    padding: 5em 2.5em;
  }
  #cartBackground #mostContent #paymentBarMainDiv #paymentForm label {
    font-size: 2.6em;
  }
  #cartBackground #mostContent #paymentBarMainDiv #paymentForm div input {
    padding-top: 1.5em;
    font-size: 2.6em;
  }
}
@media (orientation: landscape) {
  #cartBackground #mostContent #paymentBarMainDiv {
    width: 25%;
    box-shadow: 5em 5em 7em 7em black;
    min-height: 100vh;
    justify-content: space-evenly;
  }
  #cartBackground #mostContent #paymentBarMainDiv #pay {
    position: static;
  }
  #cartBackground #mostContent #paymentBarMainDiv #atmCardBackground {
    background: url("/card3.jpg");
    background-size: 100%;
    width: 25vw;
    height: 15vw;
    margin: 0;
  }
  #listHeader {
    display: flex;
    padding: 0em 1.5em;
    padding-bottom: 2em;
  }
  #listHeader p {
    width: 20%;
  }
  #singleCartItemCard {
    display: flex;
    color: navy;
    align-items: center;
    padding: 1em 1.5em;
  }
  #singleCartItemCard #itemDetails {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  #singleCartItemCard #itemDetails p {
    width: 33.3333333333%;
  }
  #singleCartItemCard #itemDetails #color {
    width: 33.3333333333%;
  }
  #singleCartItemCard #cartItemImage {
    width: 20%;
  }
  #singleCartItemCard #closeIcon {
    width: 2%;
  }
}/*# sourceMappingURL=index.css.map */