@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/montserrat.ttf");
}
@font-face {
  font-family: "bebas";
  src: url("../../assets/fonts/bebas.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}

*::-webkit-scrollbar-track {
  height: 0;
  width: 0;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  min-height: 100%;
  color: white;
  font-family: monospace;
}

#bodyDiv {
  position: relative;
  min-height: 100vh;
}
#bodyDiv #abslouteContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  gap: 4rem;
}
#bodyDiv #abslouteContentContainer #top {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}
#bodyDiv #abslouteContentContainer #top #acheivementDivContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}
#bodyDiv #abslouteContentContainer #top #acheivementDivContainer .singleAchivement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bodyDiv #abslouteContentContainer #top #acheivementDivContainer .singleAchivement .number {
  font-size: 2em;
  font-weight: 700;
  font-family: "bebas";
}
#bodyDiv #abslouteContentContainer #top #acheivementDivContainer .singleAchivement .number + p {
  color: rgb(171, 167, 167);
  font-family: "montserrat";
  font-size: 0.8rem;
}
#bodyDiv #abslouteContentContainer #top #LargeTextDiv {
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
#bodyDiv #abslouteContentContainer #top #LargeTextDiv p {
  font-size: 2.8em;
  font-weight: 700;
  text-align: center;
  font-family: "bebas";
}
#bodyDiv #abslouteContentContainer #top #paragraph {
  text-align: center;
  font-size: 0.8rem;
}
#bodyDiv #abslouteContentContainer #top #paragraph p {
  font-family: "montserrat";
}
#bodyDiv #abslouteContentContainer #callToActionDiv {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
#bodyDiv #abslouteContentContainer #callToActionDiv button {
  background-color: rgb(148, 244, 23);
  box-shadow: rgb(148, 244, 23) 4px 4px 6px 6px;
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bodyDiv #abslouteContentContainer #callToActionDiv button p {
  font-family: "montserrat";
  font-weight: 700;
}
#bodyDiv #abslouteContentContainer #callToActionDiv button * {
  padding: 0;
}
#bodyDiv #model {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
#bodyDiv #model #spinIndicator {
  display: none;
}
#bodyDiv #bodyContentContainer {
  width: 100vw;
  padding: 1rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
#bodyDiv #bodyContentContainer #firstContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
#bodyDiv #bodyContentContainer #firstContainer #imageContainer {
  width: 55%;
}
#bodyDiv #bodyContentContainer #firstContainer #imageContainer img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
#bodyDiv #bodyContentContainer #firstContainer #text {
  width: 40%;
}
#bodyDiv #bodyContentContainer #firstContainer #text #paragraph, #bodyDiv #bodyContentContainer #firstContainer #text #Title {
  text-align: center;
}
#bodyDiv #bodyContentContainer #firstContainer #text #Title {
  font-family: bebas;
  font-size: 1.5rem;
}
#bodyDiv #bodyContentContainer #firstContainer #text #paragraph {
  font-size: 0.8rem;
}
#bodyDiv #bodyContentContainer #secondContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
#bodyDiv #bodyContentContainer #secondContainer #imageContainer {
  width: 50%;
}
#bodyDiv #bodyContentContainer #secondContainer #imageContainer img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
#bodyDiv #bodyContentContainer #secondContainer #text {
  width: 40%;
}
#bodyDiv #bodyContentContainer #secondContainer #text #paragraph, #bodyDiv #bodyContentContainer #secondContainer #text #Title {
  text-align: center;
}
#bodyDiv #bodyContentContainer #secondContainer #text #Title {
  font-family: bebas;
  font-size: 1.5rem;
}
#bodyDiv #bodyContentContainer #secondContainer #text #paragraph {
  font-size: 0.8rem;
}
#bodyDiv #bodyContentContainer #fourthContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
#bodyDiv #bodyContentContainer #fourthContainer #imageContainer {
  width: 45%;
}
#bodyDiv #bodyContentContainer #fourthContainer #imageContainer img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
#bodyDiv #bodyContentContainer #fourthContainer #text {
  width: 40%;
}
#bodyDiv #bodyContentContainer #fourthContainer #text #paragraph, #bodyDiv #bodyContentContainer #fourthContainer #text #Title {
  text-align: center;
}
#bodyDiv #bodyContentContainer #fourthContainer #text #Title {
  font-family: bebas;
  font-size: 1.5rem;
}
#bodyDiv #bodyContentContainer #fourthContainer #text #paragraph {
  font-size: 0.8rem;
}

#mainSplashDiv {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
#mainSplashDiv img {
  width: 65%;
  height: auto;
}

@media (orientation: portrait) and (max-width: 300px) {
  #bodyDiv #abslouteContentContainer #top #LargeTextDiv p {
    font-size: 1.6em;
  }
  #bodyDiv #abslouteContentContainer #top #acheivementDivContainer {
    gap: 3em;
  }
  #bodyDiv #abslouteContentContainer #top #acheivementDivContainer .singleAchivement .number {
    font-size: 1.4em;
  }
  #bodyDiv #abslouteContentContainer #top #acheivementDivContainer .singleAchivement .number + p {
    font-size: 0.6em;
  }
  #bodyDiv #abslouteContentContainer #top #paragraph {
    padding: 0.5em;
    font-size: 0.8em;
  }
  #bodyDiv #abslouteContentContainer #callToActionDiv button {
    font-size: 0.5em;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #bodyDiv #abslouteContentContainer #top #paragraph {
    padding: 2em;
    font-size: 1.2em;
  }
}
@media (orientation: portrait) and (min-width: 800px) {
  #bodyDiv #abslouteContentContainer #top #paragraph {
    padding: 0em 3em;
    font-size: 2em;
  }
  #bodyDiv #abslouteContentContainer #top #acheivementDivContainer {
    gap: 15vw;
  }
  #bodyDiv #abslouteContentContainer #top #acheivementDivContainer .singleAchivement .number + p {
    font-size: 1.2em;
  }
  #bodyDiv #abslouteContentContainer #top #acheivementDivContainer .singleAchivement .number {
    font-size: 3.5em;
  }
  #bodyDiv #abslouteContentContainer #top #LargeTextDiv {
    width: 60%;
  }
  #bodyDiv #abslouteContentContainer #top #LargeTextDiv p {
    font-size: 4.5em;
  }
  #bodyDiv #abslouteContentContainer #callToActionDiv button {
    font-size: 1.6em;
    top: 75vh;
  }
}
@media (orientation: landscape) {
  #bodyDiv #abslouteContentContainer {
    padding: 2rem;
    width: 100%;
    height: 90vh;
    gap: 0rem;
  }
  #bodyDiv #abslouteContentContainer #top {
    display: flex;
    width: 100vw;
    padding: 0 3.5em;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 70vh;
  }
  #bodyDiv #abslouteContentContainer #top #acheivementDivContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: center;
  }
  #bodyDiv #abslouteContentContainer #top #acheivementDivContainer .singleAchivement .number {
    font-size: 2.8em;
    font-weight: 900;
  }
  #bodyDiv #abslouteContentContainer #top #acheivementDivContainer .singleAchivement .number + p {
    color: rgb(171, 167, 167);
  }
  #bodyDiv #abslouteContentContainer #top #LargeTextDiv {
    width: 40vw;
  }
  #bodyDiv #abslouteContentContainer #top #LargeTextDiv p {
    font-size: 3.5em;
    font-weight: 900;
  }
  #bodyDiv #abslouteContentContainer #top #paragraph {
    width: 15vw;
    padding: 0;
    align-self: center;
  }
  #bodyDiv #model {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
  }
  #mainSplashDiv {
    z-index: 10;
  }
  #mainSplashDiv img {
    height: 30%;
    width: auto;
  }
}
@media (orientation: landscape) and (min-width: 1034px) {
  #bodyDiv #abslouteContentContainer #top #LargeTextDiv p {
    font-size: 4.2em;
  }
}/*# sourceMappingURL=index.css.map */