
@font-face {
    font-family: 'montserrat';
    src: url("../../assets/fonts/montserrat.ttf");
}

@font-face {
    font-family: 'bebas';
    src: url("../../assets/fonts/bebas.ttf");
}

$primary-font:'montserrat';
$secondary-font:'bebas';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 0px;
}

*::-webkit-scrollbar-thumb{
    width: 0;
    height: 0;
}
*::-webkit-scrollbar-track{
    height: 0;
    width: 0;
}

*::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body{
    min-height: 100%;
    color: white;
    font-family:  monospace;
}

#bodyDiv{
    position: relative;
    min-height: 100vh;
    #abslouteContentContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        #top{
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            #acheivementDivContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4em;
            position: absolute;
            top: 50vh;
            .singleAchivement{
                .number{
                    font-size: 2em;
                    font-weight: 700;
                    font-family: $secondary-font;
                }
                .number + p{
                    color: rgb(171, 167, 167);
                    font-family: $primary-font;
                }
            }
            }
            #LargeTextDiv{
            width: 100%;
            text-align: center;
            position: absolute;
            top: 10vh;
            p{
                font-size: 2.8em;
                font-weight: 700;
                text-align: center;
                font-family: $secondary-font;
            }
            }
            #paragraph{
            text-align: center;
            padding: 1em;
            position: absolute;
            top: 58vh;
            p{
                font-family: $primary-font;
            }
        }
        }
    #callToActionDiv{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        button{
            background-color: rgba(148, 244, 23) ;
            box-shadow: rgba(148, 244, 23) 4px 4px 6px 6px;
            color: rgb(0, 0, 0);
            font-family: 'Courier New', Courier, monospace;
            position: absolute;
            top: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-family: $primary-font;
                font-weight: 700;
            }
        }
        button * {
            padding: 0;
        }
    }
    }

    #abslouteContentContainer *{
        z-index: 9;
    }

    #model{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        #spinIndicator{
            position: relative;
            width: min-content;
            bottom: 50%;
            left:48%;
        }
    }
}


#mainSplashDiv{
    width: 100%;
    height: 120vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    img{
        width: 65%;
        height: auto;
    }
}

@media (orientation:'portrait') and (max-width:'300px') {
    #bodyDiv{
        #abslouteContentContainer{
            #top{
                #LargeTextDiv{
                    p{
                        font-size: 1.6em;
                    }
                }
                #acheivementDivContainer{
                    gap: 3em;
                    .singleAchivement{
                        .number{
                            font-size: 1.4em;
                        }
                        .number + p{
                            font-size: 0.6em;
                        }
                    }
                }
               #paragraph{
                padding: 0.5em;
                font-size: 0.8em;
               } 
            }
            #callToActionDiv{
                button{
                    font-size: 0.5em;
                }
            }
        }
    }
}

@media (orientation:'portrait') and (min-width:'600px') {
    #bodyDiv{
        #abslouteContentContainer{
            #top{
               #paragraph{
                padding: 2em;
                font-size: 1.2em;
               } 
            }
        }
    }
}

@media (orientation:'portrait') and (min-width:'800px') {
    #bodyDiv{
        #abslouteContentContainer{
            #top{
               #paragraph{
                padding:0em 3em;
                font-size: 2em;
               } 
               #acheivementDivContainer{
                gap: 15vw;
                .singleAchivement{
                    .number + p{
                        font-size: 1.2em;
                    }
                    .number{
                        font-size: 3.5em;
                    }
                }
               }
               #LargeTextDiv{
                width: 60%;
                p{
                    font-size: 4.5em;
                }

               }
            }
            #callToActionDiv{
                button{
                    font-size: 1.6em;
                    top: 75vh;
                }
           }
        }
    }
}

@media (orientation:'landscape'){

    #bodyDiv{
        
        #abslouteContentContainer{
            position: relative;
            justify-content: space-between;
            width: 100%;
            height: 90vh;
            #top{
                display: flex;
                width: 100vw;
                height: 40vh;
                padding: 0 3.5em;
                padding-top: 2em;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                #acheivementDivContainer{
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    position: static;
                    .singleAchivement{
                        .number{
                            font-size: 2.8em;
                            font-weight: 900;
                        }
                        .number + p{
                            color: rgb(171, 167, 167);
                        }
                    }
                }
                #LargeTextDiv{
                    width:40vw;
                    position: static;
                    p{
                        font-size: 3.5em;
                        font-weight: 900;
                    }
                }
                #paragraph{
                    width: 15vw;
                    padding: 0;
                    align-self: center;
                    position: static;
                }
            }

            #callToActionDiv{
                button{
            top: 70vh;
                }
            }

        }
        #model{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            #spinIndicator{
                position: relative;
                bottom: 40%;
                left:50%;
            }
        }
    }
    #mainSplashDiv{
        z-index: 10;
        img{
            height: 30%;
            width: auto;
        }
    }
}

@media (orientation:'landscape') and (min-width:'1034px'){

    #bodyDiv{
        
        #abslouteContentContainer{
            #top{
                #LargeTextDiv{
                    p{
                        font-size: 4.2em;
                    }
                }
            }
        }
    }
}