
@font-face {
    font-family: 'montserrat';
    src: url("../../assets/fonts/montserrat.ttf");
}

@font-face {
    font-family: 'bebas';
    src: url("../../assets/fonts/bebas.ttf");
}

$primary-font:'montserrat';
$secondary-font:'bebas';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 0px;
}

*::-webkit-scrollbar-thumb{
    width: 0;
    height: 0;
}
*::-webkit-scrollbar-track{
    height: 0;
    width: 0;
}

*::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body{
    min-height: 100%;
    color: white;
    font-family:  monospace;
}

#bodyDiv{
    position: relative;
    min-height: 100vh;
    #abslouteContentContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width:100%;
        height:100vh;
        padding:2rem;
        gap: 4rem;
        #top{
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 6rem;
            #acheivementDivContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4em;
            .singleAchivement{
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content:center;
                .number{
                    font-size: 2em;
                    font-weight: 700;
                    font-family: $secondary-font;
                }
                .number + p{
                    color: rgb(171, 167, 167);
                    font-family: $primary-font;
                    font-size: 0.8rem;
                }
            }
            }
            #LargeTextDiv{
            width: 100%;
            text-align: center;
            padding-top:3rem;
            padding-bottom:1.5rem;
            p{
                font-size: 2.8em;
                font-weight: 700;
                text-align: center;
                font-family: $secondary-font;
            }
            }
            #paragraph{
            text-align: center;
            font-size: 0.8rem;
            display: none;
            p{
                font-family: $primary-font;
            }
        }
        }
        #callToActionDiv{
            display: flex;
            width: 100vw;
            align-items: center;
            justify-content: center;
            button{
                background-color: rgba(148, 244, 23) ;
                box-shadow: rgba(148, 244, 23) 4px 4px 6px 6px;
                color: rgb(0, 0, 0);
                font-family: 'Courier New', Courier, monospace;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-family: $primary-font;
                    font-weight: 700;
                }
            }
            button * {
                padding: 0;
            }
        }
    }

    #model{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index:-2;
        #spinIndicator{
            display: none;
        }
    }
    #bodyContentContainer{
        width: 100vw;
        padding: 0rem 2rem;
        background-color: black;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        #firstContainer{
            width: 100%;
            display: flex;
            gap:2rem;
            flex-direction:column-reverse;
            justify-content: space-around;
            align-items: center;
            padding: 2rem;
            #imageContainer{
                width: 100%;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 0.5rem;
                }
            }
            #text{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                #paragraph, #Title{
                    line-height: 1.5rem;
                }
                #Title{
                    font-family: bebas;
                    font-size: 1.5rem;
                }
                #paragraph{
                    font-size:0.8rem;
                }
            }
        }
        #secondContainer{
            width: 100%;
            display: flex;
            gap:2rem;
            flex-direction:column;
            justify-content: space-around;
            align-items: center;
            padding: 2rem;
            #imageContainer{
                width:100%;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 0.5rem;
                }
            }
            #text{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                #paragraph, #Title{
                    line-height: 1.5rem;
                }
                #Title{
                    font-family: bebas;
                    font-size: 1.5rem;
                }
                #paragraph{
                    font-size:0.8rem;
                }
            }
        }
        #fourthContainer{
            width: 100%;
            display: flex;
            gap:2rem;
            flex-direction:column;
            justify-content: space-around;
            align-items: center;
            padding: 2rem;
            #imageContainer{
                width: 100%;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 0.25rem;
                }
            }
            #text{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                #paragraph, #Title{
                    line-height: 1.5rem;
                }
                #Title{
                    font-family: bebas;
                    font-size: 1.5rem;
                }
                #paragraph{
                    font-size:0.8rem;
                }
            }
        }
        #firstContainer,#secondContainer,#fourthContainer{
            padding: 2rem;
            background-color: rgb(28, 27, 27);
            border-radius: 1rem;
        }
    }
}

#mainSplashDiv{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;
    img{
        width: 65%;
        height: auto;
    }
    #SplashProgressBar{
        font-family: montserrat;
        display: flex;
    }
}

@media (orientation:'portrait') and (max-width:'300px') {
    #bodyDiv{
        #abslouteContentContainer{
            #top{
                #LargeTextDiv{
                    p{
                        font-size: 1.6em;
                    }
                }
                #acheivementDivContainer{
                    gap: 3em;
                    .singleAchivement{
                        .number{
                            font-size: 1.4em;
                        }
                        .number + p{
                            font-size: 0.6em;
                        }
                    }
                }
               #paragraph{
                padding: 0.5em;
                font-size: 0.8em;
               } 
            }
            #callToActionDiv{
                button{
                    font-size: 0.5em;
                }
            }
        }
    }
}

@media (orientation:'portrait') and (min-width:'600px') {
    #bodyDiv{
        #abslouteContentContainer{
            #top{
               #paragraph{
                padding: 2em;
                font-size: 1.2em;
                display: block;
               } 
            }
        }
    }
}

@media (orientation:'portrait') and (min-width:'800px') {
    #bodyDiv{
        #abslouteContentContainer{
            #top{
               #paragraph{
                padding:0em 3em;
                font-size: 2em;
                display: block;
               } 
               #acheivementDivContainer{
                gap: 15vw;
                .singleAchivement{
                    .number + p{
                        font-size: 1.2em;
                    }
                    .number{
                        font-size: 3.5em;
                    }
                }
               }
               #LargeTextDiv{
                width: 60%;
                p{
                    font-size: 4.5em;
                }

               }
            }
            #callToActionDiv{
                button{
                    font-size: 1.6em;
                    top: 75vh;
                }
           }
        }
    }
}

@media (orientation:'landscape'){
    #bodyDiv{
        #abslouteContentContainer{
            padding: 2rem;
            width: 100%;
            height: 90vh;
            gap:0rem;
            #top{
                display: flex;
                width: 100vw;
                padding: 0 3.5em;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                min-height: 70vh;
                #acheivementDivContainer{
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    align-self: center;
                    .singleAchivement{
                        .number{
                            font-size: 2.8em;
                            font-weight: 900;
                        }
                        .number + p{
                            color: rgb(171, 167, 167);
                        }
                    }
                }
                #LargeTextDiv{
                    width:40vw;
                    p{
                        font-size: 3.5em;
                        font-weight: 900;
                    }
                }
                #paragraph{
                    width: 15vw;
                    padding: 0;
                    align-self: center;
                    display: block;
                }
            }
        }
        #model{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 90vh;
        }
        #bodyContentContainer{
            gap: 5vh;
            #firstContainer{
                gap: 0rem;
                flex-direction:row;
                #imageContainer{
                    width: 55%;
                    img{
                        border-radius: 1rem;
                    }
                }
                #text{
                    width: 40%;
                    text-align: right;
                }
            }
            #secondContainer{
                flex-direction:row;
                #imageContainer{
                    width: 50%;
                }
                #text{
                    width: 40%;
                }
            }
            #fourthContainer{
                flex-direction:row-reverse;
                #imageContainer{
                    width: 45%;
                    img{
                        border-radius: 0.5rem;
                    }
                }
                #text{
                    width: 40%;

                }
            }
        }
    }
    #mainSplashDiv{
        z-index: 10;
        img{
            height: 30%;
            width: auto;
        }

    }

}

@media (orientation:'landscape') and (min-width:'1034px'){

    #bodyDiv{
        
        #abslouteContentContainer{
            #top{
                #LargeTextDiv{
                    p{
                        font-size: 4.2em;
                    }
                }
            }
        }
    }
}