@font-face {
    font-family: 'montserrat';
    src: url("../../assets/fonts/montserrat.ttf");
}

@font-face {
    font-family: 'bebas';
    src: url("../../assets/fonts/bebas.ttf");
}

$primary-font:'montserrat';
$secondary-font:'bebas';

*{
    font-family: $primary-font;
}

#singlePaymentContainer{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 220, 220);
    #centerer{
        width: 95%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2em;
        #carImageDiv{
            width: 90%;
            height: 40vh;
            background-color: aquamarine;
            border-radius: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            top: 2vh;
            box-shadow: 0.2em 0.2em 1.5em 0.5em #11111175;
            img{
                width: inherit;
                height: auto;
            }
            #metaData{
                position: relative;
                color: navy;
                font-weight: 900;
                font-size: 2em;
            }
        }
        #paymentContainer{
            background-color: grey;
            position: relative;
            border-radius: 1em;
            top: -2vh;
            width: 80%;
            height: 90%;
            padding: 0em 2em;
            padding-top: 2.5em;
            box-shadow: 0.2em 0.2em 1.5em 0.5em #11111191;
            h3{
                margin-bottom: 2em;
            }
            #allInputContainer{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2em;
                .css-v4u5dn-MuiInputBase-root-MuiInput-root:after{
                    border-bottom-color: white;
                }
                .css-v4u5dn-MuiInputBase-root-MuiInput-root:before{
                    border-bottom-color: white;
                }
                input{
                    color: white;
                    font-weight: 700;
                    width: 90%;
                }
                div{
                    label{
                        color: white;
                    }
                }
                span{
                    display: flex;
                    gap: 0.5em;
                    p{
                        padding-top: 1.5em;
                    }
                    #amountP{
                        padding-left: 0.4em;
                        font-weight: 700;
                    }
                }
                #cvvExpiryDiv{
                    display: flex;
                    gap: 2vw;
                }
            }
            button{
                width: 70%;
                margin:4em 15%;
                font-size: 1em;
                background-color: aquamarine;
                color: navy;
                font-weight: 700;
            }
        }
    }
}

@media (orientation:"portrait") and (min-width : '700px'){
    #singlePaymentContainer{
        #centerer{
            #paymentContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                top: -2vh;
                h3{
                    font-size: 1.5em;
                    margin-bottom: 1em;
                    align-self: flex-start;
                }
                #allInputContainer{
                    .css-w3s1g-MuiFormControl-root-MuiTextField-root{
                        width: 100%;
                    }
                    #cvvExpiryDiv{
                        align-items: center;
                        justify-content: space-around;
                    }
                    label{
                        font-size: 1.2em;
                    }
                    input{
                        font-size: 1.5em;
                        padding-top: 1em;
                    }
                    span{
                        p{
                            font-size: 1.4em;
                        }
                    }
                }
                button{
                    font-size: 1.4em;
                    margin: 1em;
                }
            }
        }
    }
}

@media (orientation:"portrait") and (min-width : '800px'){
    #singlePaymentContainer{
        #centerer{
            #carImageDiv{
                #metaData{
                    font-size: 3em;
                }
            }
            #paymentContainer{
                width: 70%;
                h3{
                    font-size: 2.5em;
                    margin-bottom: 1em;
                    align-self: flex-start;
                }
                #allInputContainer{
                    .css-w3s1g-MuiFormControl-root-MuiTextField-root{
                        width: 100%;
                    }
                    #cvvExpiryDiv{
                        align-items: center;
                        justify-content: space-around;
                    }
                    label{
                        font-size: 2.2em;
                    }
                    input{
                        font-size: 2.5em;
                        padding-top: 1em;
                    }
                    span{
                        p{
                            font-size: 2.4em;
                        }
                    }
                }
                button{
                    font-size: 2.4em;
                    margin: 1em;
                }
            }
        }
    }
}

@media (orientation:"landscape"){
    #singlePaymentContainer{

        #centerer{
            width: 90%;
            height: 80vh;
            left: 5%;
            flex-direction: row;
            padding-top: 0em;
            #carImageDiv{
                width: 50%;
                height: 70%;
                position: absolute;
                left: 5%;
                top: 15%;
                #metaData{
                    position: absolute;
                    top: 70%;
                }
            }
            #paymentContainer{
                position: absolute;
                right: 20%;
                top: 5%;
                width: 35%;
                padding-left: 2.5em;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                h3{
                    margin-bottom: 0em;
                }
                button{
                    margin:0em 0%;
                }
            }
        }
    }
}